In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [3]:
# Sample Documents : 
documents = [
    "I love natural language processing.",
    "Count Vectorizer is useful in NLP.",
    "NLP allows machines to understand human language."
]

In [4]:
# Create TfidfVectorizer instance with optional improvements
vectorizer = TfidfVectorizer(
    stop_words='english',         # Removes common stop words like 'is', 'in', etc
    lowercase=True,               # Ensures all the text is converted to lowercase  
    ngram_range=(1,1),            # We can change this to (1,2) to include bigram
    norm='l2'                     # Normalizes the resulting vectors (default is 'L2')
)

In [5]:
# Fit and transform the documents
X = vectorizer.fit_transform(documents)

In [6]:
# Convert to Dataframe for visualization
df = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names_out())
df

     allows     count     human  ...  understand    useful  vectorizer
0  0.000000  0.000000  0.000000  ...    0.000000  0.000000    0.000000
1  0.000000  0.528635  0.000000  ...    0.000000  0.528635    0.528635
2  0.440362  0.000000  0.440362  ...    0.440362  0.000000    0.000000

[3 rows x 12 columns]